/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-black: #191919;
  }
  
  /* semantic color variables for this project */
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white)
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }
  
  body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
a {
  text-decoration: none;
  color: white;

  &.link-cursor:hover {
    cursor: pointer;
  }
}

h1 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.3rem
}